
*{
    margin: 0;
    padding: 0;
}

/*acomodar fondo del logo*/
.logo_mv {
    width: 100%;
    height: 100%;
    align-items: center;
}

/* estilo menu*/
.menu {
    color: rgb(234, 199, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(234, 199, 199);
    z-index: 2;
}

/* estilo  item menu*/
.menu_item{
    background-color:rgb(234, 224, 218);
    margin: 10px;
    padding: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
    border-style: dashed;
}

h1{
    font-family: 'Passion One', cursive;
    color: rgb(85, 26, 139);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    text-align: left;
}

.informacion {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: wavy;
    margin-left: 30%;
    margin-right: 30%;
}

.texto_tabla{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.img{
    width: 10%;
    height: 10%;
}

/* TABLA */

.columna_imagen{
    text-align: center;
}

/*imagenes de los productos*/
.imagen_producto{
    width: 50%;
    height: 50%;
    text-align: center;
    vertical-align: middle;
}

.nombre_producto{
    color: rgb(234, 199, 199);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500px;
    font-size: 20px;
    text-transform:uppercase;
}

.descripcion_producto{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 15px;
}
.precio_producto{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500px;
    font-size: 20px;
}

.boton_principal{
    background-color: rgb(223, 174, 174);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 4px 2px;
    padding: 12px 24px;
    border-radius: 50px;
}

.boton_secundario{
    background-color: rgba(234, 199, 199, 0.663);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 4px 2px;
    padding: 12px 24px;
    border-radius: 50px;
}

.botones_tabla{
    text-align: center;
}


/* FORMULARIO */
form {
    align-items: center;
    width: auto;
    padding: 30px;
    margin: 30px;
    background-color: rgb(234, 224, 218);
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
  
.label_form {
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
  
.botones_form{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

/*COMPRA MES*/
table{
    margin: 30px;
}
.imagen_compra{
    width: 30%;
    height: 30%;
    text-align: center;
    vertical-align: middle;
}

.tabla_compras{
    text-align: center;
}

.nombre_compra{
    color: rgb(164, 144, 144);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.descripcion_compra{
    padding-right: 30px;
    padding-left: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    font-size: 15px;
}

.precio_compra{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500px;
    font-size: 20px;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(234, 199, 199);
    padding: 15px 0 15px;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: rgb(85, 26, 139);
    text-transform: uppercase;

}