*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------------------------------------------------------------------------------------------------------*/
/*ESTILO CELULAR*/
/*-------------------------------------------------------------------------------------------------------------*/

h1{
    font-size: 2.5rem;
    font-family: 'Passion One', cursive;
    color:rgb(211, 188, 219);
    text-align: center;
}

h4{
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(149, 133, 154);
    text-align: center;
    text-transform: uppercase;
}

/*---------- inicio */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.navbar_toggler{
    background-color:rgb(234, 224, 218);
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}

.logo_tienda{
    width: 50%;
    height: 50%;
}

.section-inicio{
    display: none;
}

.descripcion_tienda{
    font-weight: lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

.descripcion_tienda_2{
    font-weight: lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}

/*---------- productos */
.descripcion_producto{
    display: none;
}

.botones_tabla {
    display: none;
}

.botones_tabla_responsive{
    display: block;
    align-items: center;
}

.boton_principal_imagen{
    cursor: pointer;
    background-color: rgba(234, 199, 199, 0.663);   
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5%;  
}

.boton_secundario_imagen{
    cursor: pointer;
    background-color: rgba(234, 199, 199, 0.663);   
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 5%;  
}

.boton_principal_imagen img {
    height: 30%;
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

.boton_secundario_imagen img {
    height: 30%;
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

.columna_imagen{
    text-align: center;
}

.imagen_producto{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
}

.nombre_producto{
    color: rgb(234, 199, 199);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500px;
    font-size: 90%;
    text-transform:uppercase;
}

.precio_producto{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500px;
    font-size: 20px;
}

/*---------- compra*/

.columna_imagen{
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    grid-template-areas:
        "nombre_compra " 
        "imagen_compra "
        "precio_compra ";

    justify-content: center;
    justify-items: center;
}

.nombre_compra{
    grid-area: nombre_compra;
    color: rgb(164, 144, 144);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

main section table .imagen_compra{
    grid-area: imagen_compra;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 5%;
}

main section table .precio_compra{
    grid-area: precio_compra;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500px;
    font-size: 20px;
}

table{
    margin: 30px;
}

.descripcion_compra{
    display: none;
}

.tabla_compras{
    display: none;
}

/*---------- pedido por mayor*/

.boton_secundario_formulario{
    background-color: rgb(223, 174, 174);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 4px 2px;
    padding: 12px 24px;
    border-radius: 50px;
}

.boton_principal_formualio{
    background-color: rgba(234, 199, 199, 0.663);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 4px 2px;
    padding: 12px 24px;
    border-radius: 50px;
}

/*---------- formulario */
form {
    align-items: center;
    width: auto;
    padding: 30px;
    margin: 30px;
    background-color: rgb(234, 224, 218);
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
  
.label_form {
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
  
.botones_form{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
}

/*---------- favoritos*/

.columna_imagen_favorito{
    text-align: center;
}
/*imagenes de los productos*/
.imagen_producto_favorito{
    width: 50%;
    height: 50%;
    text-align: center;
    vertical-align: middle;
}

/*---------- contactos*/

.boton_principal{
    background-color: rgb(223, 174, 174);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 4px 2px;
    padding: 12px 24px;
    border-radius: 50px;
}
/*-------------------------------------------------------------------------------------------------------------*/
/* ESTILOS COMPUTADORA */
/*-------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width:1024px) {
    header{
        display: block;
    }

    .nav-item{
        background-color:rgb(234, 224, 218);
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 20px;
    }

    main{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        grid-template-areas:
            "titulo_tienda logo_tienda" 
            "descripcion_tienda logo_tienda"
            "descripcion_tienda_2 logo_tienda";

        justify-content: center;
        justify-items: center;
    }

    main .titulo_tienda{
        grid-area: titulo_tienda;
    }

    main .logo_tienda{
        grid-area: logo_tienda;
        width: 100%;
        height: 100%;
    }
  
    main .descripcion_tienda{
        grid-area: descripcion_tienda;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: justify;
    }

    main .descripcion_tienda_2{
        grid-area: descripcion_tienda_2;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: justify;
    }

    /*---------- section*/

    .section-inicio{
        display: block;
        display: flex;
        padding: 1rem;
        gap: 0.5rem;
    }

    .section-inicio div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        animation-name: animacion-div;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }

    @keyframes animacion-div {
        0%{
            transform: scale(0.2);
            background-color: rgb(236, 216, 216);
        }

        50%{
            transform: scale(0.5);
            background-color: rgb(234, 224, 218);
        }

        100%{
            transform: scale(0.8);
            background-color: white;
        }
    }

    .section-inicio img{
        width: 20%;
    }

    footer{
        margin-top: 1.5rem;
    }

    /*---------- compra*/

    table{
        margin: 30px;
    }

    .imagen_compra{
        width: 80%;
        height: 80%;
        text-align: center;
        vertical-align: middle;
    }

    .tabla_compras{
        text-align: center;
        display: contents;
    }

    .nombre_compra{
        color: rgb(164, 144, 144);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
    }

    .descripcion_compra{
        display: inline;
        padding-right: 30px;
        padding-left: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        font-size: 15px;
    }

    .precio_compra{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 500px;
        font-size: 20px;
    }

    /*---------- productos*/

    .botones_tabla{
        display: block;
    }

    .boton_principal_imagen{
        display: none;
    }

    .boton_secundario_imagen{
        display: none;
    }

    .imagen_producto{
        max-width: 100%;
        max-height: 100%;
        text-align: center;
        vertical-align: middle;
        padding: 5%;
    }

    .nombre_producto{
        color: rgb(234, 199, 199);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 500px;
        font-size: 20px;
        text-transform:uppercase;
    }

    .descripcion_producto{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        font-size: 15px;
    }

    .precio_producto{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 500px;
        font-size: 20px;
    }

    .boton_principal{
        background-color: rgb(223, 174, 174);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        text-align: center;
        color: white;
        display: inline-block;
        margin: 4px 2px;
        padding: 12px 24px;
        border-radius: 50px;
    }

    .boton_secundario{
        background-color: rgba(234, 199, 199, 0.663);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
        text-align: center;
        color: white;
        display: inline-block;
        margin: 4px 2px;
        padding: 12px 24px;
        border-radius: 50px;
    }

    .botones_tabla{
        text-align: center;
    }

    .tabla-productos .descripcion_producto{
        display: block;
        text-align: justify;
    }

    /*----------favoritos*/
    .columna_imagen_favorito{
        text-align: center;
    }
    /*imagenes de los productos*/
    .imagen_producto_favorito{
        width: 50%;
        height: 50%;
        text-align: center;
        vertical-align: middle;
    }

}

/*acomodar fondo del logo*/
.logo_tienda{
    width: 100%;    
    height: 100%;
    align-items: center;
}

/* estilo menu*/
.menu {
    color: rgb(234, 199, 199);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(234, 199, 199);
    z-index: 2;
}

.informacion {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: wavy;
    margin-left: 30%;
    margin-right: 30%;
}

.texto_tabla{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:rgb(234, 224, 218);
    padding: 15px 0 15px;
    text-align: center;
    width: 100%;
    color: rgb(211, 188, 219);
    text-transform: uppercase;   
}


